

body {
    font-family: 'Helvetica Neue', sans-serif;
   
    background-size: cover; 
    color: #FFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
  }
  
  .body {
    text-align: center;
    background: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative; 
  }
  
  .title {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #FFF;
  }
  
  .subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #DDD;
  }
  
  input[type="password"] {
    padding: 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 1em;
    text-align: center;
  }
  
  button.login {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: #FFF;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  button.login:hover {
    background: #FFD700;
    color: #000;
  }
  

  .body p {
    margin-top: 20px;
    color: #AAA;
  }
  
  .body::before {
    content: "";
    background-image: url('../Images/escudo.png'); 
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -120px; 
    left: calc(50% - 75px); 
    width: 150px;
    height: 150px;
    opacity: 1;
    z-index: -1;
  }
  
  @media (max-width: 768px) {

    .container{
      flex-direction: column;
    }
}